@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'sans';
    src: url('./../public/fonts/IRANSansWeb.woff');
    font-weight: lighter;
    font-display: swap;
  }

  @font-face {
    font-family: 'sansbold';
    src: url('./../public/fonts/IRANSansWeb_Bold.woff');
    font-weight: bold;
    font-display: swap;
  }

  * {
    @apply transition-all duration-200;
    font-family: 'sans';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'sansbold';
  }

  #body-dashboard::-webkit-scrollbar {
    width: 2px;
  }
  
  #body-dashboard::-webkit-scrollbar-track {
    margin: 1.5rem 0;
    background: none;
  }
  
  #body-dashboard::-webkit-scrollbar-thumb {
    background: #6c829b;
  }

  #body-dashboard::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

@layer utilities {
  .sansbold {
    font-family: 'sansbold';
  }

  .show-modal {
    animation: show-modal 250ms 1 ease;
  }

  @keyframes show-modal {
    0% {
      opacity: 0;
      transform: scale(2, 1.25);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer components {
  .btn {
    @apply flex justify-between items-center gap-3 rounded-full w-full text-sm px-5 py-2.5;
  }

  .btn-out-white {
    @apply text-white border-white border focus:ring-4 focus:ring-blue-200
      hover:bg-white hover:text-blue-500  hover:ring-4 hover:ring-blue-200;
  }

  .btn-out-danger {
    @apply text-red-500 border-red-500 border focus:ring-4 focus:ring-red-200
      hover:bg-red-500 hover:text-white  hover:ring-4 hover:ring-red-200;
  }

  .btn-out-success {
    @apply text-green-500 border-green-500 border focus:ring-4 focus:ring-green-200
      hover:bg-green-500 hover:text-white hover:ring-4 hover:ring-green-200;
  }

  .btn-out-blue {
    @apply text-blue-500 border-blue-500 border focus:ring-4 focus:ring-blue-200
      hover:bg-blue-500 hover:text-white  hover:ring-4 hover:ring-blue-200;
  }

  .btn-white {
    @apply bg-white text-blue-500 focus:ring-4 focus:ring-blue-200 hover:ring-4 hover:ring-blue-200;
  }

  .badge-blue {
    @apply bg-blue-100 text-blue-700 text-xs px-1.5 py-0.5 rounded-md;
  }

  .badge-danger {
    @apply bg-red-100 text-red-700 text-xs px-1.5 py-0.5 rounded-md;
  }

  .bg-modal {
    @apply bg-black bg-opacity-50 w-screen h-screen
    flex justify-center items-center fixed top-0 left-0 show-modal;
  }

  .title {
    @apply text-slate-700 w-full text-3xl text-right sansbold;
  }

  .t-head {
    @apply bg-slate-200 text-slate-700 w-full flex items-center p-3 rounded-t-2xl;
  }

  .t-head th {
    @apply font-light text-right;
  }

  .t-head__tr {
    @apply w-full flex items-center;
  }

  .t-body__tr {
    @apply w-full flex items-center p-3 border-b border-slate-200;
  }

  .t-head__actions {
    @apply flex justify-center text-center;
  }

  .t-body__actions {
    @apply flex justify-center items-center gap-6;
  }
}